@use "sass:list";
@use "../01_utilities/variables" as utilities;

:root {
    @for $i from 1 through list.length(utilities.$font-sizes) {
        --cyb-sys-font-size-#{$i}: #{list.nth(utilities.$font-sizes, $i)};
    }

    @for $i from 1 through list.length(utilities.$font-weights) {
        --cyb-sys-font-weight-#{$i}: #{list.nth(utilities.$font-weights, $i)};
    }
}

@for $i from 1 through list.length(utilities.$font-sizes) {
    .g--font-size-#{$i} {
        font-size: var(--cyb-sys-font-size-#{$i});
    }
}

@for $i from 1 through list.length(utilities.$font-weights) {
    .g--font-weight-#{$i} {
        font-weight: var(--cyb-sys-font-weight-#{$i});
    }
}