@use "sass:list";
@use "../01_utilities/variables" as utilities;


:root {
    @for $i from 1 through list.length(utilities.$width-sizes) {
        --cyb-sys-width-#{$i}: #{list.nth(utilities.$width-sizes, $i)};
    }
}

@for $i from 1 through list.length(utilities.$width-sizes) {
    .g--width-#{$i} {
        width: var(--cyb-sys-width-#{$i});
    }
}