.c-sidenav {
  height: 100vh;
  width: 220px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--cyb-sys-color-blue-4);
  overflow-x: hidden;
  padding-top: 20px;
  gap: 15px;
}

.c-sidenav__logo {
  width: 100%;
  margin-bottom: 20px;
  padding: 0 20px;

  img {
    max-width: 160px;
    width: 50%;
    height: auto;
    border-radius: 50%;
  }
}

.c-sidenav a {
  text-decoration: none;
  padding-left: 30px;
  border-left: 3px solid transparent;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  transition: all ease 0.1s;
  width: 100%;
}

.c-sidenav a:hover {
  border-left: 3px solid white;
}

.c-sidenav a img {
  width: 20px;
}

.c-sidenav a span {
  padding: 6px 8px 6px 16px;
  display: block;
}

.c-sidenav__item {
  margin-top: auto;
  margin-bottom: 15px;
}